.section-about {
	--padding: 63px;

	min-height: 911px;
	color: #fff;
	background-color: var(--color-purple);
	padding-block: 80px 49px;
	padding-inline: calc(var(--left-panel) + var(--padding)) var(--padding);
}
