@use "../functions/clamp-calc" as *;

.section-expansion {
	--tile-width: #{clamp-calc(1200px, 1920px, 240px, 316px)};

	position: relative;
	display: grid;
	grid-auto-rows: max-content;
	grid-template-areas:
		"tl1 tl2 . . . ."
		"tl3 . . . . ."
		". tl4 . tl5 . ."
		"tl6 . tl7 . . ."
		". tl8 . . tl9 ."
		"tl10 . . . . ."
		"tl11 tl12 . . . ."
		"h h h h h h"
		"tl13 . tl14 . . ."
		". tlw tlw tlw . .";
	overflow-y: hidden;
	overflow-y: clip;
	min-height: 855px;
	color: #fff;
	isolation: isolate;

	&__figure {
		position: absolute;
		inset: 0;
		z-index: -1;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-gray);
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.tile {
		position: relative;
		height: 27px;
		background-color: var(--color-purple);

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			height: var(--height, inherit);
			background-color: var(--color-purple);
			scale: 1 var(--scale-y, 1) 1;
		}

		&--1 {
			grid-area: tl1;
			height: 107px;
		}

		&--2 {
			grid-area: tl2;
			height: 107px;
		}

		&--3 {
			grid-area: tl3;
			height: 65px;
		}

		&--4 {
			grid-area: tl4;
			height: 65px;
			transform-origin: bottom;
		}

		&--5 {
			grid-area: tl5;
			height: 65px;
			transform-origin: center;

			&::after {
				transform-origin: bottom;
			}
		}

		&--6 {
			grid-area: tl6;
			height: 64px;
			transform-origin: 40%;
		}

		&--7 {
			grid-area: tl7;
			height: 128px;
			transform-origin: top;

			&::after {
				transform-origin: top;
			}
		}

		&--8 {
			grid-area: tl8;
			height: 68px;
			transform-origin: bottom;

			&::after {
				transform-origin: top;
			}
		}

		&--9 {
			grid-area: tl9;
			height: 27px;
			transform-origin: top;

			&::after {
				transform-origin: top;
			}
		}

		&--10 {
			grid-area: tl10;
			height: 60px;
		}

		&--11 {
			grid-area: tl11;
			height: 108px;
		}

		&--12 {
			grid-area: tl12;
			height: 108px;

			&::after {
				transform-origin: top;
			}
		}

		&--13 {
			align-self: end;
			grid-area: tl13;
			height: 32px;
			transform-origin: top;

			&::after {
				transform-origin: top;
			}
		}

		&--14 {
			grid-area: tl14;
			height: 60px;
			transform-origin: top;

			&::after {
				transform-origin: top;
			}
		}

		&--hidden {
			grid-area: h;
			height: 72px;
			background-color: transparent;

			&::after {
				display: none;
			}
		}

		&--wide {
			grid-area: tlw;
			margin-block-start: -2px;
		}
	}

	&__content {
		position: absolute;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		width: 100%;
		height: 100%;
		max-width: 1585px;
		margin-inline: auto;
		padding-block-end: 72px;
		padding-inline: var(--container) 81px;
		row-gap: 40px;
	}

	&__title {
		margin-inline: auto;
		padding-inline-start: 27vw;
	}

	&__desc {
		margin-inline: auto 8vw;
	}
}
