@use "../functions/clamp-calc" as *;

.section-expansion {
	--tile-width: #{clamp-calc(1200px, 1920px, 240px, 316px)};
	--row-width: 61px;

	position: relative;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(14, var(--row-width));
	min-height: 855px;
	color: #fff;
	isolation: isolate;

	&__figure {
		position: absolute;
		inset: 0;
		z-index: -1;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-gray);
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.tile {
		position: relative;

		--ty: 0;
		--sy: 1;
		--rx: 0deg;

		&::before {
			content: "";
			position: absolute;
			bottom: var(--bottom, revert);
			width: 100%;
			height: var(--height, 100%);
			background-color: var(--color-purple);
			transform: translateY(var(--ty)) scaleY(var(--sy))
				rotateX(var(--rx));
			transform-origin: var(--to, revert);
		}

		&--1 {
			grid-column: 1 / span 2;
			grid-row: span 2;
		}

		&--2 {
			grid-column: 3 / span 2;
			grid-row: span 2;
		}

		&--3 {
			grid-column: 1 / span 2;
			grid-row: span 1;
		}

		&--4 {
			--to: bottom;

			grid-column: 3 / span 2;
			grid-row: 4 / span 1;
		}

		&--5 {
			--to: center;

			grid-column: 7 / span 2;
			grid-row: 4 / span 1;
		}

		&-5--ghost {
			--to: top;

			grid-column: 7 / span 2;
			grid-row: 8 / span 1;
			visibility: hidden;
		}

		&--6 {
			--to: center;

			grid-column: 1 / span 2;
			grid-row: 5 / span 1;
		}

		&--7 {
			--to: top;

			grid-column: 5 / span 2;
			grid-row: 5 / span 2;
		}

		&--8 {
			--to: bottom;

			grid-column: 3 / span 2;
			grid-row: 7 / span 1;
		}

		&--9 {
			--to: top;
			--height: 43%;

			grid-column: 9 / span 2;
			grid-row: 7 / span 1;
		}

		&--10 {
			grid-column: 1 / span 2;
			grid-row: 8 / span 1;
		}

		&--11 {
			grid-column: 1 / span 4;
			grid-row: 9 / span 2;
		}

		&--12 {
			--height: 50%;
			--bottom: 0;
			--to: top;

			grid-column: 1 / span 2;
			grid-row: 12 / span 1;
		}

		&--13 {
			--to: top;

			grid-column: 5 / span 2;
			grid-row: 12 / span 1;
		}

		&-7--ghost {
			--to: bottom;

			grid-column: 5 / span 2;
			grid-row: 5 / span 1;
		}

		&-8--ghost {
			--to: top;

			grid-column: 3 / span 2;
			grid-row: 7 / span 1;
		}

		&--wide {
			--tl-wide-height: 31px;

			grid-column: 3 / span 6;
			grid-row: -1;
			height: var(--tl-wide-height);
			margin-block-end: calc(-1 * var(--tl-wide-height));
		}
	}

	&__content {
		z-index: 1;
		display: flex;
		flex-direction: column;
		grid-column: 5 / span 6;
		grid-row: 8 / span 6;
		row-gap: 40px;
	}

	&__title {
		margin-inline: auto;
		padding-inline-end: 81px;
	}

	&__desc {
		margin-inline: auto;
		padding-inline-start: 16vw;
	}
}
