<section class="section-expansion" aria-labelledby="expansion-title">
	<div class="section-expansion__content">
		<h2 class="section-expansion__title title title--2 title--wrapped" id="expansion-title" >
			<span>Активноe</span>
			<span style="--text-indent: 50%">развитие</span>
			<span style="--text-indent: 17%">и рост</span>
		</h2>
		<p class="section-expansion__desc text">растем вместе с Вами</p>
	</div>
	<figure class="section-expansion__figure">
		<picture>
			<source srcset="img/section-expansion-img.webp" type="image/webp" />
			<img
				class="section-expansion__image"
				loading="lazy"
				src="img/section-expansion-img.jpg"
				width="1920"
				height="885"
				alt=""
			/>
		</picture>
	</figure>
	<div class="tile tile--1" aria-hidden="true"></div>
	<div class="tile tile--2" aria-hidden="true"></div>
	<div class="tile tile--3" aria-hidden="true"></div>
	<div class="tile tile--4" aria-hidden="true"></div>
	<div class="tile tile--5" aria-hidden="true"></div>
	<div class="tile tile--6" aria-hidden="true"></div>
	<div class="tile tile--7" aria-hidden="true"></div>
	<div class="tile tile--8" aria-hidden="true"></div>
	<div class="tile tile--9" aria-hidden="true"></div>
	<div class="tile tile--10" aria-hidden="true"></div>
	<div class="tile tile--11" aria-hidden="true"></div>
	<div class="tile tile--12" aria-hidden="true"></div>
	<div class="tile tile--13" aria-hidden="true"></div>
	<div class="tile tile--14" aria-hidden="true"></div>
	<div class="tile tile--hidden" aria-hidden="true"></div>
</section>
