<section class="section-about" aria-labelledby="about-title">
	<h2 class="sr-only" id="about-title">Аврора в цифрах</h2>
	<div class="section-about__stats stats">
		<dl class="stats-list">
			<div class="stats-list__item stats-list__item--active">
				<dt class="stats-list__key text">
					<p>
						квалифицированных <br />
						специалистов в штате компании
					</p>
					<button class="stats-list__button" type="button">
						<span class="sr-only">next</span>
					</button>
				</dt>
				<dd class="stats-list__value">35</dd>
			</div>
			<div class="stats-list__item">
				<dt class="stats-list__key text">
					<p>
						регионов России <br />
						с нашими проектами
					</p>
					<button class="stats-list__button" type="button">
						<span class="sr-only">next</span>
					</button>
				</dt>
				<dd class="stats-list__value">11</dd>
			</div>
			<div class="stats-list__item">
				<dt class="stats-list__key text">
					<p>
						квадратных метров составляет <br />
						площадь реализованных проектов
					</p>
					<button class="stats-list__button" type="button">
						<span class="sr-only">next</span>
					</button>
				</dt>
				<dd class="stats-list__value">1,25</dd>
			</div>
		</dl>
	</div>
	<div class="section-about__map">
		<svg aria-hidden="true" width="1897" height="1324">
		  <use xlink:href="img/sprite.svg#map"></use>
		</svg>
	</div>
	<div class="section-about__action">
		<a class="section-hero__link title title--2 title--wrapped" href="/contacts.html">
			<span>Обсудить</span>
			<span style="--text-indent: 42%">проект >></span>
		</a>
		<p class="section-about__action-desc text">получить информацию <br> от эксперта</p>
	</div>
</section>
