<nav class="header__menu menu menu--main" aria-label="Основное меню" itemscope itemtype="https://schema.org/SiteNavigationElement">
	<button class="menu__button" type="button" aria-expanded="false" aria-controls="menu__list" aria-label="Открыть меню">
		<span class="menu__button-line" aria-hidden="true"></span>
		<span class="menu__button-line" aria-hidden="true"></span>
		<span class="menu__button-line" aria-hidden="true"></span>
	</button>
	<div class="menu__container">
		<ul class="menu__list menu__list--main" role="list" id="menu__list">
			<li class="menu__item" itemprop="name">
				<a class="menu__link" itemprop="url" href="/about.html">О нас</a>
			</li>
			<li class="menu__item" itemprop="name">
				<a class="menu__link" itemprop="url" href="/services.html">Услуги</a>
			</li>
			<li class="menu__item" itemprop="name">
				<a class="menu__link" itemprop="url" href="/projects.html">Проекты</a>
			</li>
			<li class="menu__item" itemprop="name">
				<a class="menu__link" itemprop="url" href="/contacts.html">Контакты</a>
			</li>
			<li class="menu__item" itemprop="name">
				<a class="menu__link" itemprop="url" href="/gallery.html">Галерея</a>
			</li>
		</ul>
	</div>
</nav>
