<section class="section-partners" aria-labelledby="partners-title">
	<header class="section-partners__header section-header">
		<h2 class="section-partners__title title title--2 title--wrapped" id="partners-title">
			<span>Сотрудничество</span>
			<span style="--text-indent: 3em">и партнерство</span>
		</h2>
		<a class="section-partners__link button" href="/services.html"><span>Наши</span><span> проекты</span></a>
	</header>
	<div class="scroller" data-direction="left" data-speed="slow">
		<ul class="scroller__inner" role="list">
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-1.png" alt="Инсити Логистика" width="255" height="48">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-2.png" alt="ELP" width="152" height="70">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-3.png" alt="ЭТМ" width="179" height="51">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-4.png" alt="Центр внедрения Протек" width="220" height="55">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-5.png" alt="PNK Group" width="207" height="37">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-6.png" alt="Геолайн технологии" width="251" height="80">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-7.png" alt="Группа НЛМК" width="155" height="82">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-8.png" alt="BR" width="84" height="84">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-9.png" alt="ОРГЭНЕРГОСТРОЙ" width="378" height="81">
			</li>
			<li class="scroller__item partner-logo">
				<img class="partner-logo__img" loading="lazy" src="img/logo-10.png" alt="Проект 111" width="250" height="75">
			</li>
		</ul>
	</div>
</section>
