<section class="section-hero" aria-labelledby="hero-title">
	<h1 class="section-hero__title title title--1" id="hero-title">Аврора <br> Девелопмент</h1>
	<div class="section-hero__desc">
		<p class="text">Создаем качественные складские активы с 2017 года</p>
	</div>
	<figure class="section-hero__figure">
		<picture>
	  		<source srcset="img/section-hero-img.webp" type="image/webp">
	  		<img class="section-hero__image" loading="lazy" src="img/section-hero-img.jpg" width="1336" height="887" alt="">
		</picture>
	</figure>
	<h2 class="section-hero__subtitle" aria-labelledby="specialization-title">Наша специализация</h2>
	<div class="section-hero__content" id="specialization-title">
		<ul class="section-hero__specialization" role="list">
			<li class="text text--22">Проектная и рабочая документация на строительство складских комплексов любого формата</li>
			<li class="text text--22">Концептуальное проектирование в рамках девелопмента производственных территорий</li>
			<li class="text text--22">Сопровождение строительства складских объектов и light Industrial</li>
		</ul>
		<a class="button" href="/services.html"><span>Все</span><span> услуги</span></a>
	</div>
	<div class="tile tile--1" aria-hidden="true"></div>
	<div class="tile tile--2" aria-hidden="true"></div>
	<div class="tile tile--3" aria-hidden="true"></div>
	<div class="tile-group">
		<div class="tile tile--4" aria-hidden="true"></div>
		<div class="tile tile--5 tile--purple" aria-hidden="true"></div>
	</div>
</section>
